*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;    
}

/*-----Header-----*/
header {
  background-color: rgba(240, 240, 240, 0.1);
  padding: 20px 0px;
  position: absolute;
  z-index: 3000000;
  width: 100%;
  top: 0;
  left: 0;
}

/* Estilos del menú de navegación */
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

/* Estilos del logotipo */
header .logo {
  /* Agrega margen derecho para separar el logotipo del menú */
  margin-right: 20px;
}

header .logo a {
  font-family: "Pixelify+Sans", 'Poppins';
  font-size: 36px;
  padding: 0px 16px;
  letter-spacing: 0; /* Reajusta el espaciado de letras a 0 */
  text-decoration: none;
}

/* Estilos de los elementos del menú */
header .menu-item a {
  color: rgb(65, 164, 235);
  font-size: 20px;
  padding: 0px 18px;
  text-decoration: none;
}
/*----Inicio----*/
.parallax-home {
    height: 100vh;
    background-image: url('../multimedia/imagenes/game\ over.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .parallax-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .parallax-content h1 {
    font-size: 3em;
    margin: 0;
  }
  
  .parallax-content p {
    font-size: 1.5em;
    margin: 0;
  }
  
  .cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    color: white;
    background-color: #3498db;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .cta-button:hover {
    background-color: #2980b9;
  }
  
  .content {
    padding: 20px;
    background-color: #f0f0f0;
  }

  .content h2 {
    font-size: 2em;
  }
  
  .content p {
    font-size: 1.2em;
  }
/*---bienvenidos seccion---*/
.bienvenidos-seccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #dfbebe; /* Color de fondo de la sección */
}

.content-bienvenidos {
  max-width: 100%;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  font-size: 1em;
  margin-bottom: 10px;
}
.button {
  padding: 10px 20px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
}

.button:hover {
  background-color: #2980b9;
}

  /*---seccion container home medio---*/
  .section-container-home-medio {
    width: 100%; /* Ocupa todo el ancho disponible */
    text-align: center; /* Centra el contenido */
    padding: 50px; /* Espacio alrededor del contenido */
    box-sizing: border-box; /* El padding se incluye en el ancho total */
    background-color: #dfbebe; /* Color de fondo de la sección */
  }
  
  .content-home-medio {
    max-width: 800px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centra el contenido horizontalmente */
  }
  
  h2 {
    font-size: 2em;
    padding-top: 10px;
    margin-bottom: 50px;
  }
  
  h3 {
    font-size: 1.5em;
    margin-bottom: 50px;
  }

/*---seccion targetas--*/
.targetas-home {
  background-color: #dfbebe;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.targeta-home {
  width: 200px;
  padding: 20px;
  background-color: #e99de4;
  border-radius: 10px;
  text-align: center;
}

.targeta-imagen {
  width: 100%;
  border-radius: 10px;
}

.titulo-targeta {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.descripcion-targeta {
  font-size: 1em;
}

  /*---- tutoriales home ----*/
  .tutoriales-home {
    background-color: #dfbebe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .content-tutoriales-home {
    text-align: center;
  }
  
  .video-container {
    margin-top: 20px;
  }
  
  .video-container iframe {
    width: 100%;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1em;
  }
  
  h3 {
    font-size: 1.2em;
    margin-top: 10px;
  }

/*---seccion contacto--*/

.seccion-formulario {
  background-color: #dfbebe;
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.column {
  padding: 20px;
}

.imagen-columna img {
  max-width: 100%;
}

.formulario-columna {
  background-color: #e99de430;
  border-radius: 10px;
  margin-left: 20px; /* Ajusta la separación entre la imagen y el formulario */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input, textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

/*---- Footer----*/
.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e99de430;
}

.column {
  padding: 10px;
}

.left-column img {
  max-width: 100px;
}

.left-column h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.left-column p {
  font-size: 0.8em;
}

.right-column p {
  font-size: 0.8em;
  margin: 0;
  align-self: flex-end;
}

/*-----Nosotros-----*/
.parallax-nosotros {
    height: 100vh;
    background-image: url('../multimedia/imagenes/camara.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .parallax-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .parallax-content h1 {
    font-size: 3em;
    margin: 0;
  }
  
  .parallax-content p {
    font-size: 1.5em;
    margin: 0;
  }
  
  .cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    color: white;
    background-color: #3498db;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .cta-button:hover {
    background-color: #2980b9;
  }

  .section-container-nosotros {
    width: 100%; /* Ocupa todo el ancho disponible */
    text-align: center; /* Centra el contenido */
    padding: 50px; /* Espacio alrededor del contenido */
    box-sizing: border-box; /* El padding se incluye en el ancho total */
    background-color: #dfbebe; /* Color de fondo de la sección */
  }
  
  .content-nosotros {
    max-width: 800px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centra el contenido horizontalmente */
  }
  
  h2 {
    font-size: 2em;
    padding-top: 10px;
    margin-bottom: 50px;
  }
  
  h3 {
    font-size: 1.5em;
    margin-bottom: 50px;
  }

  .imagen-seccion-pablo {
    background-color: #dfbebe;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imagen-pablo img {
    max-width: 100%;
  }
  /*-----Tutoriales-----*/
  .parallax-tutoriales {
    height: 100vh;
    background-image: url('../multimedia/imagenes/hama\ picachu.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .seccion-tutoriales {
    padding: 20px;
    background-color:#dfbebe; /* Color de fondo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .nueva-seccion h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .nueva-seccion p {
    font-size: 1em;
  }

  .videos-seccion-tutoriales {
    background-color: #dfbebe;
    padding: 20px;
  }
  
  .videos-tutoriales {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .videos-tutoriales h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .videos-tutoriales p {
    font-size: 1em;
  }
  
  .video-galleria-tutoriales {
    display: flex;
    flex-wrap: wrap;
  }
  
  .video {
    width: 48%; /* Ajusta el ancho de cada video según tu preferencia */
    margin: 1%;
  }
  
  .video iframe {
    width: 100%;
    border: 1px solid #ccc; /* Borde para cada video */
    border-radius: 10px; /* Bordes redondeados */
  }


  /*----Blog----*/
  body.page-blog {
    background-color: #dfbebe; /* Color de fondo para la página específica (gris claro) */
  }

  .section-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espacio en la parte superior */
    padding: 20px;
  }
  
  .column-notas {
    padding: 20px;
    text-align: center;
  }
  
  .column-notas img {
    width: 100%; /* La imagen ocupará todo el espacio disponible */
    display: block;
    border-radius: 30px;
  }
  
  .column-notas h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    padding: 20px;
  }
  
  .column-notas p {
    font-size: 1em;
  }
  
  /* Estilo adicional para hacerlo más estético */
  .column-notas {
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 5px;
  }

  /*-----Contacto-----*/
  body.page-contacto {
    background-color: #f8c4c4; /* Color de fondo para la página específica (gris claro) */
  }  
  
  .section-hero-contacto {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    margin-top: 50px; /* Margen superior de 100px */
  }
  
  .content-contacto {
    padding: 100px;
    text-align: center; /* Centra el texto dentro de la sección */
    max-width: 600px; /* Ancho máximo para el contenido */
    background-color:#f8c4c4;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: rgb(255, 255, 255);
    background-color: #3498db;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .cta-button:hover {
    background-color: #2980b9;
  }

  .section-container {
    display: flex;
    justify-content: center;
    margin-top: 150px; /* Espacio en la parte superior */
  }
  
  .column {
    padding: 20px;
  }
  
  .column img {
    width: 100%; /* La imagen ocupará todo el espacio disponible */
    display: block;
  }
  
  .column:last-child {
    margin-left: 20px; /* Espacio entre las columnas */
    max-width: 400px; /* Ancho máximo para el formulario */
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input, textarea {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .cta-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #3498db;
    text-decoration: none;
    border: none;
    border-radius: 5px;
  }
  
  .cta-button:hover {
    background-color: #2980b9;
  }

  /* Responsive */
  @media (max-width: 375px) {
    header ul {
        flex-direction: column; 
        align-items: center;
    }

    /* Mueve el logotipo al principio en la versión móvil */
    header .logo {
        margin-right: 0; 
        margin-bottom: 10px; 
    }
}

@media (min-width: 376px) and (max-width: 992px) {
  header ul {
    flex-direction: column; 
    align-items: center;
}

/* Mueve el logotipo al principio en la versión móvil */
header .logo {
    margin-right: 0; 
    margin-bottom: 10px; 
}
}


