 
  /* Header */
  header {
    padding: 20px 0;
    position: absolute;
    z-index: 3000000;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .menu-item a, .logo a {
      color: #3498db;
      font-size: 20px;
      padding: 0 18px;
      text-decoration: none;
    }
  
    .logo a {
      font-family: "Pixelify+Sans", 'Poppins';
      font-size: 36px;
      padding: 0 16px;
    }
  }
 /*---home---*/
  .parallax-home {
    background-image: url('../multimedia/imagenes/game-over.png');
  
    .parallax-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: white;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
  
      h1 {
        font-size: 3em;
        margin: 0;
      }
  
      p {
        font-size: 1.5em;
        margin: 0;
      }
  
      .cta-button {
        display: inline-block;
        padding: 15px 30px;
        font-size: 1.2em;
        color: white;
        background-color: #3498db;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
  
        &:hover {
          background-color: #2980b9;
        }
      }
    }
  }
  
  /* Content */
  .content {
    padding: 20px;
    background-color: #f0f0f0;
  
    h2 {
      font-size: 2em;
    }
  
    p {
      font-size: 1.2em;
    }
  }
  
  /* Bienvenidos home */
  .bienvenidos-seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #dfbebe;
  
    .content-bienvenidos {
      max-width: 100%;
      text-align: center;
  
      h1 {
        font-size: 2em;
        margin-bottom: 20px;
      }
  
      p {
        font-size: 1em;
        margin-bottom: 10px;
      }
  
      .button {
        padding: 10px 20px;
        border: none;
        background-color: #3498db;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1em;
  
        &:hover {
          background-color: #2980b9;
        }
      }
    }
  }
  
  /*  Container Home Medio */
  .section-container-home-medio {
    width: 100%;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    background-color: #dfbebe;
  
    .content-home-medio {
      max-width: 800px;
      margin: 0 auto;
  
      h2 {
        font-size: 2em;
        padding-top: 10px;
        margin-bottom: 50px;
      }
  
      h3 {
        font-size: 1.5em;
        margin-bottom: 50px;
      }
    }
  }
  
  /* tarjetas home */
  .targetas-home {
      background-color: #dfbebe;
      display: flex;
      justify-content: space-around;
      padding: 20px;
  
      .targeta-home {
          width: 200px;
          padding: 20px;
          background-color: #e99de430;
          border-radius: 10px;
          text-align: center;
  
          .targeta-imagen {
              width: 100%;
              border-radius: 10px;
          }
  
          .titulo-targeta {
              font-size: 1.2em;
              margin-bottom: 10px;
          }
  
          .descripcion-targeta {
              font-size: 1em;
          }
      }
  }
  
  /* sección de tutoriales home */
  .tutoriales-home {
      background-color: #dfbebe;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  
      .content-tutoriales-home {
          text-align: center;
  
          .video-container {
              margin-top: 20px;
  
              iframe {
                  width: 100%;
              }
          }
  
          h2 {
              font-size: 2em;
              margin-bottom: 10px;
          }
  
          p {
              font-size: 1em;
          }
  
          h3 {
              font-size: 1.2em;
              margin-top: 10px;
          }
      }
  }
  
  /* Estilos comunes */
  h2 {
      font-size: 2em;
      margin-bottom: 10px;
  }
  
  p {
      font-size: 1em;
  }
  #parallax{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* sección de formulario de contacto home */
  .seccion-formulario {
      background-color: #dfbebe;
      display: flex;
      justify-content: center;
      padding: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
      .column {
          padding: 20px;
  
          .imagen-columna img {
              max-width: 100%;
          }
  
          .formulario-columna {
              background-color: #e99de430;
              border-radius: 10px;
              margin-left: 20px;
  
              form {
                  display: flex;
                  flex-direction: column;
  
                  label {
                      margin-bottom: 5px;
                  }
  
                  input, textarea {
                      padding: 10px;
                      margin-bottom: 10px;
                      border: 1px solid #ccc;
                      border-radius: 5px;
                  }
  
                  button {
                      padding: 10px 20px;
                      border: none;
                      background-color: #3498db;
                      color: white;
                      border-radius: 5px;
                      cursor: pointer;
  
                      &:hover {
                          background-color: #2980b9;
                      }
                  }
              }
          }
      }
  }
  
  /* pie de página */
  .footer-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #e99de430;
  
      .left-column {
          img {
              max-width: 100px;
          }
  
          h2 {
              font-size: 1.5em;
              margin-bottom: 10px;
          }
  
          p {
              font-size: 0.8em;
          }
      }
  
      .right-column p {
          font-size: 0.8em;
          margin: 0;
          align-self: flex-end;
      }
  }
  
  /*---Nosotros--- */
  .parallax-nosotros {
    background-image: url('../multimedia/imagenes/camara.png');
  
    .parallax-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: white;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
  
      h1 {
        font-size: 3em;
        margin: 0;
      }
  
      p {
        font-size: 1.5em;
        margin: 0;
      }
  
      .cta-button {
        display: inline-block;
        padding: 15px 30px;
        font-size: 1.2em;
        color: white;
        background-color: #3498db;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
  
        &:hover {
          background-color: #2980b9;
        }
      }
    }
  }
  
  /* Pablo Imagen */
  .imagen-seccion-pablo {
    background-color: #dfbebe;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .imagen-pablo img {
      max-width: 100%;
    }
  }
  
  /*---Tutoriales--- */
  .parallax-tutoriales {
    background-image: url('../multimedia/imagenes/hama picachu.png');
  
    .seccion-tutoriales {
      padding: 20px;
      background-color: #dfbebe;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      .nueva-seccion h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
      }
  
      .nueva-seccion p {
        font-size: 1em;
      }
    }
  
    .videos-seccion-tutoriales {
      background-color: #dfbebe;
      padding: 20px;
  
      .videos-tutoriales {
        text-align: center;
        margin-bottom: 20px;
  
        h2 {
          font-size: 2em;
          margin-bottom: 10px;
        }
  
        p {
          font-size: 1em;
        }
      }
  
      .video-galleria-tutoriales {
        display: flex;
        flex-wrap: wrap;
  
        .video {
          width: 48%;
          margin: 1%;
  
          iframe {
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 10px;
          }
        }
      }
    }
  }
  
  /*---Blog--- */
  body.page-blog {
    background-color: #dfbebe;
  
    .section-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      padding: 20px;
  
      .column-notas {
        padding: 20px;
        text-align: center;
  
        img {
          width: 100%;
          display: block;
          border-radius: 30px;
        }
  
        h2 {
          font-size: 1.5em;
          margin-bottom: 10px;
          padding: 20px;
        }
  
        p {
          font-size: 1em;
        }
      }
    }
  }
  
  /*---Contacto--- */
  body.page-contacto {
    background-color: #f8c4c4;
  
    .section-hero-contacto {
      display: flex;
      justify-content: center;
      margin-top: 50px;
  
      .content-contacto {
        padding: 100px;
        text-align: center;
        max-width: 600px;
        background-color: #f8c4c4;
  
        .cta-button {
          display: inline-block;
          padding: 10px 20px;
          font-size: 1em;
          color: rgb(255, 255, 255);
          background-color: #3498db;
          text-decoration: none;
          border-radius: 5px;
          margin-top: 20px;
  
          &:hover {
            background-color: #2980b9;
          }
        }
      }
  
      .section-container {
        display: flex;
        justify-content: center;
        margin-top: 150px;
        
        .column {
          padding: 20px;
  
          img {
            width: 100%;
            display: block;
          }
  
          &:last-child {
            margin-left: 20px;
            max-width: 400px;
  
            form {
              display: flex;
              flex-direction: column;
  
              label {
                margin-bottom: 5px;
              }
  
              input, textarea {
                padding: 10px;
                margin-bottom: 10px;
              }
  
              .cta-button {
                padding: 10px 20px;
                font-size: 1em;
                color: white;
                background-color: #3498db;
                text-decoration: none;
                border: none;
                border-radius: 5px;
                
                &:hover {
                  background-color: #2980b9;
                }
              }
            }
          }
        }
      }
    }
  }

    /* Estilos para pantallas más pequeñas, como dispositivos móviles */
@media screen and (max-width: 375px) {
  // Estilos para dispositivos móviles
}

/* Estilos para tabletas */
@media screen and (min-width: 376px) and (max-width: 960px) {
  // Estilos para tabletas
}

/* Estilos para pantallas más grandes, como computadoras de escritorio */
@media screen and (min-width: 961px) {
  // Estilos para computadoras de escritorio
}