header {
    padding: 20px 0;
    position: absolute;
    z-index: 3000000;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .menu-item a, .logo a {
      color: #3498db;
      font-size: 20px;
      padding: 0 18px;
      text-decoration: none;
    }
  
    .logo a {
      font-family: "Pixelify+Sans", 'Poppins';
      font-size: 36px;
      padding: 0 16px;
    }
  }

  /* Estilos para pantallas más pequeñas, como dispositivos móviles */
@media screen and (max-width: 375px) {
    // Estilos para dispositivos móviles
}

/* Estilos para tabletas */
@media screen and (min-width: 376px) and (max-width: 960px) {
    // Estilos para tabletas
}

/* Estilos para pantallas más grandes, como computadoras de escritorio */
@media screen and (min-width: 961px) {
    // Estilos para computadoras de escritorio
}